@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Dancing+Script:wght@400..700&family=Fleur+De+Leah&family=Iceberg&family=Keania+One&family=Lavishly+Yours&family=Pacifico&family=Rampart+One&display=swap');
.profile-card {
    max-width: 350px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-card .user-info {
    text-align: center;
}

.profile-card .user-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-card .user-info h4 {
    margin-bottom: 5px;
}

.profile-card .user-info p {
    color: #ff8c00;
    font-weight: bold;
}

.profile-card .spending-info {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

.profile-form .border-bottom{
    border-bottom: 1px solid gray !important;
}

.form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}

.form-group {
    margin-bottom: 1.5rem;
    position: relative;
}

.form-group label {
    font-weight: bold;
}

.input-container {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #6c757d;
}

.update-button {
    background-color: #ff8c00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.input-group-text {
    background-color: transparent;
    border: none;
}

.progress {
    height: 7px;
    margin-top: 10px;
}

.progress-bar {
    font-size: 20px;
    height: auto;
    transition: width 0.6s ease;
    background: linear-gradient(87deg, rgb(233, 99, 250) 0%, rgb(85, 0, 182) 100%);
}

.input-container {
    position: relative;
}

.icon-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.icon {
    color: #6c757d;
    cursor: pointer;
}

#update{
    font-weight: bolder;
    background: linear-gradient(90deg, var(--c1, #1d8443), var(--c2, #44f859) 51%, var(--c1, #1d8443)) var(--x, 0)/ 200%;
        transition: all .5s ease;
        color: #e9ecef;
}
#update:hover{
    --x:100%;
    transform: scale(1.04);
}
